
$variables = default custom;

for $variable in $variables
  @import "_variables/" + $variable



@import "_common/_core/normalize";


// Core CSS
@import "_common/_core/base";
@import "_common/_core/tables";
@import "_common/_core/helpers";




// Sections
@import "_common/_section/layout";
@import "_common/_section/header";
@import "_common/_section/body";
@import "_common/_section/footer";

@import "_common/_section/about"


// Components
@import "_common/_component/blockquote-center";
@import "_common/_component/buttons";
@import "_common/_component/posts";
@import "_common/_component/posts-expand";
@import "_common/_component/posts-collapse";
@import "_common/_component/posts-type";
@import "_common/_component/pagination";
@import "_common/_component/comments";
@import "_common/_component/tag-cloud";
@import "_common/_component/gallery";
@import "_common/_component/group-pictures";
@import "_common/_component/back-to-top";
@import "_common/_component/prettify";




// Page specific styles
@import "_common/_page/home";
@import "_common/_page/archive";
@import "_common/_page/post-detail";
@import "_common/_page/categories";

@import "_common/_section/media";


// Custom Layer
// --------------------------------------------------
@import "_custom/custom";
