// Custom styles.
.prettyprint{
	font-size 14px
}

ol.linenums{
	color: #ccc;
}

.not-found {
    padding: 1em 0;
    text-align: center;
}

.not-found h1 {
    margin: 0 0 .1em 0;
    font-size: 8em;
    letter-spacing: .03em;
    line-height: 1;
    color: #333;
    text-shadow: 1px 1px 0 #fff,2px 2px 0 #ccc,3px 3px 0 #ccc,4px 4px 0 #ccc;
}

.ds-powered-by{
  display:none !important;
}

.hx_lazyimg{
   opacity:0.1;
}


