//
// Layout
// =================================================

html, body { height: 100%; }

.container {
  position: relative;
  min-height: 100%;
}


// Header Section
// --------------------------------------------------
.header-inner {
  margin: 0 auto;
  width: $main-desktop;
  padding-top: 3em;
}

// Main Section
// --------------------------------------------------
.main { padding: 3em 0}
.main-inner {
  background: #fff;
  margin: 0 auto;
  width: $main-desktop;
}

.content{
	max-width: 780px;
  margin-left: auto;
  margin-right: auto;
}

// Footer Section
// --------------------------------------------------
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 50px;
}

#mobile-nav{ display: none }
