@media (max-width: 767px){
  body {
    font-size: 14px;
  }

  .header-inner,
  .wrapper .header-inner,
  .main-inner,
  .wrapper .main-inner,
  .main-inner .content,
  .footer-inner,
  .wrapper .footer-inner{
    width: 90%;
  }

  .main-inner {
    margin: 20px auto 0;
  }

  #mobile-nav{ display: block }

  .main-navigation,.footer, #dynamic-to-top {
      display: none !important;
  }

}
@media (max-width: 480px) {

}

@media (min-width: 768px) and (max-width: 979px) {

}

@media (min-width: 980px) {

}

@media (min-width: 1200px) {

}
